:root {
	--text-color: #333;
}

body {
	max-width: 70ch;
	padding: 2ch;
	margin: auto;
	line-height: 1.25;
	font-size: 1.25em;
	font-family: sans-serif;
}

p {
	color: var(--text-color);
	margin-bottom: 2em;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}
